workflows/lively-nova-9d69ec752942/morning-journal-pull.json
{
  "name": "Morning Journal Pull",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1-5"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Schedule — 8AM Mon-Fri",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "https://goheat207.pythonanywhere.com/api/metrics",
        "options": {
          "timeout": 10000
        }
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Get Journal Metrics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "https://goheat207.pythonanywhere.com/api/per-symbol",
        "options": {
          "timeout": 10000
        }
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Get Per-Symbol Breakdown",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 480]
    },
    {
      "parameters": {
        "jsCode": "const metrics = $('Get Journal Metrics').first().json;\nconst symbols = $('Get Per-Symbol Breakdown').all().map(i => i.json);\n\nconst today = new Date().toISOString().split('T')[0];\n\n// Find top 3 winners and losers by avg P&L\nconst sorted = [...symbols].sort((a, b) => (b.avg_pnl || 0) - (a.avg_pnl || 0));\nconst winners = sorted.filter(s => (s.avg_pnl || 0) > 0).slice(0, 3);\nconst losers = sorted.filter(s => (s.avg_pnl || 0) < 0).slice(-3).reverse();\n\nconst brief = {\n  date: today,\n  generated_at: new Date().toISOString(),\n  metrics: {\n    win_rate: metrics.win_rate,\n    expectancy: metrics.expectancy,\n    profit_factor: metrics.profit_factor,\n    avg_win: metrics.avg_win,\n    avg_loss: metrics.avg_loss,\n    total_pnl: metrics.total_pnl,\n    current_streak: metrics.current_streak\n  },\n  top_winners: winners.map(s => ({ symbol: s.symbol, avg_pnl: s.avg_pnl, win_rate: s.win_rate, trades: s.trade_count })),\n  top_losers: losers.map(s => ({ symbol: s.symbol, avg_pnl: s.avg_pnl, win_rate: s.win_rate, trades: s.trade_count })),\n  q2_goal_status: {\n    target_avg_loss_pct: '0.25-0.33%',\n    current_avg_loss: metrics.avg_loss,\n    current_win_rate: metrics.win_rate,\n    target_win_rate: '40%'\n  }\n};\n\nreturn [{ json: brief }];"
      },
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "Format Morning Brief",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 390]
    },
    {
      "parameters": {
        "command": "python D:/AIS-OS/scripts/save_morning_brief.py \"{{ $json.date }}\" '{{ JSON.stringify($json) }}'"
      },
      "id": "a1b2c3d4-0005-0005-0005-000000000005",
      "name": "Save to OS",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [940, 390]
    }
  ],
  "connections": {
    "Schedule — 8AM Mon-Fri": {
      "main": [
        [
          { "node": "Get Journal Metrics", "type": "main", "index": 0 },
          { "node": "Get Per-Symbol Breakdown", "type": "main", "index": 0 }
        ]
      ]
    },
    "Get Journal Metrics": {
      "main": [
        [{ "node": "Format Morning Brief", "type": "main", "index": 0 }]
      ]
    },
    "Get Per-Symbol Breakdown": {
      "main": [
        [{ "node": "Format Morning Brief", "type": "main", "index": 1 }]
      ]
    },
    "Format Morning Brief": {
      "main": [
        [{ "node": "Save to OS", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": ["trading", "journal", "morning-brief"]
}
